<!DOCTYPE html>

<html lang="en">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">


  <title>QatarHelp</title>

   <!-- Bootstrap core CSS -->
    <link href="./stylesheets/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="./stylesheets/modern-business.css" rel="stylesheet">

</head>

<body>

 <!-- Navigation -->
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="/main">QatarHelp</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="./aboutUs">About</a>
            </li>
            <li class="nav-item ">
              <a class="nav-link" href="./faqPage">FAQ</a>
            </li>
            <li class="nav-item ">
              <a class="nav-link" href="./">Login</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownBlog" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Register
              </a>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownBlog">
                <a class="dropdown-item" href="./userSignup">Customer Signup</a>
                <a class="dropdown-item" href="./businessSignup">Business Signup</a>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </nav>

	<h1>Welcome to QatarHelp About</h1>

	<p>This is an about us page haha this is maruf another one</p>
	<p>This is a second line</p>
	<br>
	<br>
  
	<h2>Not a Member yet? </h2>
		
		<a href = "./userSignup">SignUp as a User</a><br>
		<a href = "./businessSignup">SignUp as a Business</a>

    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; 67-475 Team 2 2017</p>
      </div>
      <!-- /.container -->
    </footer>
    
    <!-- Bootstrap core JavaScript -->
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="./javascripts/bootstrap.min.js"></script>
      <script src = "./javascripts/fun.js"> </script>
    <script src="./javascripts/bootstrap.bundle.min.js"></script>
</body>

</html>
