<!DOCTYPE html>

<html lang="en">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Redefining Convenience">
    <meta name="author" content="Maruf">

    <title>QatarHelp</title>

    <!-- Bootstrap core CSS -->
    <link href="./vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="./vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

    <!-- Plugin CSS -->
    <link href="./vendor/magnific-popup/magnific-popup.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="./stylesheets/creative.min.css" rel="stylesheet">
    <link href="css/table1.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="css/table2.min.css" rel="stylesheet">

</head>

<body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav" style="position: relative; background-color: #f05f40;">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="./main">QatarHelp</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="./aboutUs">About</a>
            </li>
            <li class="nav-item ">
              <a class="nav-link" href="./faqPage">FAQ</a>
            </li>
            <li class="nav-item ">
              <a class="nav-link" href="/logout">Logout</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

     <!-- Page Heading/Breadcrumbs -->
      <h1 class="mt-4 mb-3" style="margin-left: 15px;">Welcome to Business Page, <%= name %></h1>

    <section id="services" style="padding-top: 50px; padding-bottom: 50px;">
                    <div class="container">
                      <div class="row">
                        <div class="col-lg-12 text-center">
                          <h2 class="section-heading">Favorite Categories</h2>
                          <hr class="my-4">
                        </div>
                      </div>
                    </div>
                    <div class="container">
                      <div class="row">
                        <div class="col-lg-4 col-md-6 text-center">
                          <div class="service-box mt-5 mx-auto">
                          <a class="btn btn-light2 btn-xl js-scroll-trigger" style="width:214px;height:102px;border-radius:0px;text-align:center;line-height:75px;" href="./repairing">Repairing</a>

                          </div>
                        </div>
                        <div class="col-lg-4 col-md-6 text-center">
                          <div class="service-box mt-5 mx-auto">
                           <a class="btn btn-light2 btn-xl js-scroll-trigger" style="width:214px;height:102px;border-radius:0px;text-align:center;line-height:75px;" href="./painting">Painting</a>
                          </div>
                        </div>
                        <div class="col-lg-4 col-md-6 text-center">
                          <div class="service-box mt-5 mx-auto">
                           <a class="btn btn-light2 btn-xl js-scroll-trigger" style="width:214px;height:102px;border-radius:0px;text-align:center;line-height:75px;" href="./delivery">Delivery</a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </section>



 <section class="bg-primary" style="padding-top: 50px; padding-bottom: 50px;">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto text-center">
            <h2 class="section-heading text-white">All Categories</h2>
            <hr class="light my-4">
            <p class="text-faded mb-4">Explore tasks and chores from all sectors to get more customer</p>
            <a class="btn btn-light btn-xl js-scroll-trigger" style="width:214px;height:102px;border-radius:0px;text-align:center;line-height:75px;" href="./allcategories">Explore All</a>
          </div>
        </div>
      </div>
    </section>


        <section id="services" style="padding-top: 50px; padding-bottom: 50px;">
                    <div class="container">
                      <div class="row">
                        <div class="col-lg-12 text-center">
                          <h2 class="section-heading">Pending Bids</h2>
                          <hr class="my-4">
                           <p class="text-muted mb-4">Track the chores that you've requested and accept the service provider you want! </p>
                           <a class="btn btn-light1 btn-xl js-scroll-trigger" href="./pendingbids">Track your Bids</a>
                        </div>
                      </div>
                    </div>
                  </section>

    <section class="bg-primary" style="padding-top: 50px; padding-bottom: 50px;">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto text-center">
            <h2 class="section-heading text-white">Previous Bids</h2>
            <hr class="light my-4">
            <p class="text-faded mb-4">Look at the history of the chores that have been completed before.</p>
            <a class="btn btn-light btn-xl js-scroll-trigger" href="./businesshistory">Completed Requests</a>
          </div>
        </div>
      </div>
    </section>





    <!-- Footer -->
    <footer class="text-center" >
      <div class="footer-above">
        <div class="container" >
          
      <div class="footer-below">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              Copyright &copy; Senior Project 2017
            </div>
          </div>
        </div>
      </div>
      </div>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="./javascripts/bootstrap.min.js"></script>
      <script src = "./javascripts/fun.js"> </script>
    <script src="./javascripts/bootstrap.bundle.min.js"></script>
  </body>

</html>
