<!DOCTYPE html>
<html>
<head>

</head>
<body>

	<h1>Welcome to QatarHelp FAQ</h1>

	<p>jghcgf</p>
	<br>
	<br>

	<h2>Not a Member yet? </h2>
		
		<a href = "./userSignup">SignUp as a User</a><br>
		<a href = "./businessSignup">SignUp as a Business</a>

	<script src = "./javascripts/fun.js"> </script>
</body>

</html>
