<!DOCTYPE html>
<html>
<head>

</head>
<body>

	<h1>Welcome to QatarHelp</h1>
	<p>
		<% if (message.length > 0){ %>
		<div>
			<%= message %>
		</div>
		<% } %>
	</p>
	<form method = "post" action = "/login">
		<fieldset>
			<legend>Log In:</legend>
			<label>Email: </label>
			<input type = "text" name = "uEmail" id = "uEmail"  placeholder = "some@some.com"><br>
			<label>Password: </label>
			<input type = "text" name = "uPass" id = "uPass"  placeholder = "***********"><br>
			<br>
	        <button type = "submit" id="submitDetails"  name="submitDetails">LogIn </button>
	      
		</fieldset>
	</form>

	<br>
	<br>

	<h2>Not a Member yet? </h2>
		
		<a href = "./userSignup">SignUp as a User</a><br>
		<a href = "./businessSignup">SignUp as a Business</a>

	<script src = "./javascripts/fun.js"> </script>
</body>

</html>
