<!DOCTYPE html>

<html lang="en">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Redefining Convenience">
    <meta name="author" content="Maruf">

    <title>QatarHelp</title>

    <!-- Bootstrap core CSS -->
    <link href="./vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="./vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

    <!-- Plugin CSS -->
    <link href="./vendor/magnific-popup/magnific-popup.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="./stylesheets/creative.min.css" rel="stylesheet">
    <link href="css/table1.min.css" rel="stylesheet">
    <link href="./stylesheets/style.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="css/table2.min.css" rel="stylesheet">


</head>

<body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav" style="position: relative; background-color: #f05f40;">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="/">QatarHelp</a>        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a href="./pendingreq" class="fa fa-bell">&nbsp;&nbsp;<span class="num" style="font-size: 0.5em;">2</span></a>
            </li>
            <li class="nav-item">
              <a href="./"class="fa fa-user-circle" style="font-size: 2em; color: #f8cbc2;"></a> 
            </li>
            <li class="nav-item">
              <a class="nav-link" href="./"> <%= name %></a>
            </li>
            <li class="nav-item ">
              <a class="nav-link" href="/logout">Logout</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

     <section id="services" style="padding-top: 80px; padding-bottom: 80px;">
                    <div class="container">
                      <div class="row">
                        <div class="col-lg-12 text-center">
                          <h2 class="section-heading"><%= name %>, I want to request for:</h2>
                          <hr class="my-4">
                        </div>
                      </div>
                    </div>

                    <div class="container" style="padding-right: 120px;">
                      
                      <form method = "post" action = "/requestSubmit">
                        
                      <fieldset>

                        <div class="col-lg-12 text-center">
                          <% if (message != '') { %>
                            <p style = "color: red; font-size:2em; margin-left:95px;">Your request has been placed!</p>
                        <% } %>
                          <div class="service-box mt-5 mx-auto">
                           <div class="row" style="width: 600px;">
                            <h4 class="mb-3" style="padding-top: 5px;padding-right: 15px;"><span style="color: red;">*</span>Description:</h4>
                            <input type = "text" name = "service" id = "service" class="des" placeholder = "Vanilla caramel Latte"> 
                            <a href="#" data-toggle="tooltip" title="Write all details relating to your request including additional pickup time and location" style="padding-left: 15px; padding-top: 12px; font-size: 20px;"> ? </a><br>
                            <% if (error.service == true) { %>
                              <p style ="color: red; font-size: 14px; margin-top: 5px;">*Description is compulsory</p>
                            <% } %>
                           </div>
                          </div>
                        </div>
                        <div class="col-lg-12 text-center">
                          <div class="service-box mt-5 mx-auto">
                           <div class="row" style="width: 600px;">
                            <h4 class="mb-3" style="padding-top: 5px;padding-right: 47px;"><span style="color: red;">*</span>Location:</h4>
                            <input type = "text" style="width: 400px;" name = "location" id = "location" placeholder = "Room 1202 in CMU, Qatar Foundation">
                            <a href="#" data-toggle="tooltip" title="Location of the task to be completed at" style="padding-left: 15px; padding-top: 12px; font-size: 20px;"> ? </a><br>

                            <% if (error.location == true) { %>
                              <p style ="color: red; font-size: 14px; margin-top: 5px;">*Location is compulsory</p>
                            <% } %>

                           </div>
                          </div>
                        </div>
                        <div class="col-lg-12 text-center">
                          <div class="service-box mt-5 mx-auto">
                           <div class="row" style="width: 600px;">
                            <h4 class="mb-3" style="padding-top: 5px;padding-right: 15px;"><span style="color: red;">*</span>Deadline Time:</h4>
                            <input type="datetime-local" name = "stime" id = "stime"  placeholder = "Today by 12pm">
                            <a href="#" data-toggle="tooltip" title="The latest date and time by which you want the service or product to be delivered to you" style="padding-left: 15px; padding-top: 12px; font-size: 20px;"> ? </a><br>

                            <% if (error.time == true) { %>
                              <p style ="color: red; font-size: 14px; margin-top: 5px;">*Time is compulsory</p>
                            <% } %>

                           </div>
                          </div>
                        </div>
                        <div class="col-lg-12 text-center">
                          <div class="service-box mt-5 mx-auto">
                           <div class="row" style="width: 600px;">
                            <h4 class="mb-3" style="padding-top: 5px;padding-right: 15px;"><span style="color: red;">*</span>Maximum Price (QR.):</h4>
                            <input type = "text" style="width: 295px;" name = "price" id = "price"  placeholder = "50">
                            <a href="#" data-toggle="tooltip" title="Total price you are willing to pay for the product, service and everything inclusive" style="padding-left: 15px; padding-top: 12px; font-size: 20px;"> ? </a><br>

                            <% if (error.price == true) { %>
                              <p style ="color: red; font-size: 14px; margin-top: 5px;">*Price is compulsory</p>
                            <% } %>

                           </div>
                          </div>
                        </div>
                        <div class="col-lg-12 text-center">
                          <div class="service-box mt-5 mx-auto">
                           <div class="row" style="width: 600px;">
                            <h4 class="mb-3" style="padding-top: 5px;padding-right: 30px;"><span style="color: red;">*</span>Category of Service:</h4>
                            <select name="category" id="scategory">
                              <option disabled selected value> -- Select an option -- </option>
                              <option value="1">Delivery</option>
                              <option value="2">Education</option>
                              <option value="3">Electronic</option>
                              <option value="4">Food Delivery</option>
                              <option value="5">Painting</option>
                              <option value="6">Programming</option>
                              <option value="7">Repairing</option>
                              <option value="8">Others</option>
                            </select>
                            <a href="#" data-toggle="tooltip" title="If your chore requires attention of specific sector then select one, otherwise we'll connect you with the most appropriate sector" style="padding-left: 15px; padding-top: 12px; font-size: 20px;"> ? </a><br>

                            <% if (error.category_id == true) { %>
                              <p style ="color: red; font-size: 14px; margin-top: 5px;">*Please select a category</p>
                            <% } %>

                           </div>
                          </div>
                        </div>
                    </div>
                        <div class="col-lg-12 text-center">
                          <div class="service-box mt-5 mx-auto">
                            <button type="submit" class="btn btn-light1 btn-xl js-scroll-trigger" name"submitDetails">
                            Request</button>
                            </div>
                        </div>
                      </fieldset>
                     </form>
                  </section>

    <!-- /.container -->


    <section class="bg-primary" style="padding-top: 50px; padding-bottom: 50px;">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto text-center">
            <h2 class="section-heading text-white">Pending Requests</h2>
            <hr class="light my-4">
            <p class="text-faded mb-4">Track the chores that you've requested and accept the service provider you want! </p>
            <a class="btn btn-light btn-xl js-scroll-trigger" href="./pendingreq">Track your Requests</a>
          </div>
        </div>
      </div>
    </section>


    <section id="services" style="padding-top: 50px; padding-bottom: 50px;">
                    <div class="container">
                      <div class="row">
                        <div class="col-lg-12 text-center">
                          <h2 class="section-heading">Previous Requests</h2>
                          <hr class="my-4">
                           <p class="text-muted mb-4">Look at the history of the chores that have been completed before.</p>
                           <a class="btn btn-light1 btn-xl js-scroll-trigger" href="./userhistory">Completed Requests</a>
                        </div>
                      </div>
                    </div>
                  </section>

    <!-- Footer -->
    <footer class="py-5" style="opacity: 0.8;background-color: rgb(239, 95, 65);">
      <div class="container">
        <p class="m-0 text-center text-white">Made with <span style="color:red;">&#10084;</span>&nbsp; &#x1F525; &nbsp; &#128166; &nbsp; in Qatar. &copy; Jaldi 2017</p>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="./javascripts/bootstrap.min.js"></script>
      <script src = "./javascripts/fun.js"> </script>
    <script src="./javascripts/bootstrap.bundle.min.js"></script>
    <script src="./javascripts/fun.js"></script>
    <script>
$(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();   
});
</script>
  </body>

</html>
