<!DOCTYPE html>

<html lang="en">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">


  <title>QatarHelp</title>

   <!-- Bootstrap core CSS -->
    <link href="./stylesheets/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="./stylesheets/modern-business.css" rel="stylesheet">

</head>


<body>

 <!-- Navigation -->
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="/main">QatarHelp</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="./aboutUs">About</a>
            </li>
            <li class="nav-item ">
              <a class="nav-link" href="./faqPage">FAQ</a>
            </li>
            <li class="nav-item ">
              <a class="nav-link" href="./">Login</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownBlog" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Register
              </a>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownBlog">
                <a class="dropdown-item" href="./userSignup">Customer Signup</a>
                <a class="dropdown-item" href="./businessSignup">Business Signup</a>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    
	<h1>SignUp As A User Here</h1>

	<form method = "post" action = "/addUser">
		<fieldset>
			<legend></legend>
			<label>Email: </label>
			<input type = "text" name = "uEmail" id = "uEmail" placeholder = "some@some.com"><br>
			<label>Password: </label>
			<input type = "text" name = "uPass" id = "uPass" placeholder = "***********"><br>
			<label>Full Name: </label>
			<input type = "text" name = "uName" id = "uName" placeholder = "Andrew Iqbal"><br>
			<label>Age: </label>
			<input type = "number" name = "uAge" id = "uAge" placeholder = "1009"><br>

			<br>
	        <button type = "submit" id="submitDetails"  name="submitDetails">Signup</button>
	      
		</fieldset>
	</form>

	<br>
	<br>

	<button onclick = "backToLogin()" >Go Back</button>
	
	

<!--
	<p>My paragraph.</p>
	<li><a href ="./showSup">Sup Page</a></li>
	<button onclick = "duck()">Click</button> -->

  <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; 67-475 Team 2 2017</p>
      </div>
      <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="./javascripts/bootstrap.min.js"></script>
      <script src = "./javascripts/fun.js"> </script>
    <script src="./javascripts/bootstrap.bundle.min.js"></script>
</body>

</html>
