<!DOCTYPE html>

<html lang="en">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">


  <title>QatarHelp</title>

   <!-- Bootstrap core CSS -->
    <link href="./stylesheets/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="./stylesheets/modern-business.css" rel="stylesheet">

</head>


<body>

 <!-- Navigation -->
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="/main">QatarHelp</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="./aboutUs">About</a>
            </li>
            <li class="nav-item ">
              <a class="nav-link" href="./faqPage">FAQ</a>
            </li>
             <li class="nav-item ">
              <a class="nav-link" href="/logout">Logout</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Page Content -->
    <div class="container">

      <!-- Page Heading/Breadcrumbs -->
      <h1 class="mt-4 mb-3">Welcome to Customer Page <%= name %></h1>

      <%= message %>
      <form method = "post" action = "/requestSubmit">
        <fieldset>
          <legend>I want to request for:</legend>
          <label>Service: </label>
          <input type = "text" name = "service" id = "service"  placeholder = "Vanilla caramel Latte"><br>
          <label>Location: </label>
          <input type = "text" name = "location" id = "location" placeholder = "Room 1202 in CMU, Qatar Foundation"><br>
          <label>Deadline Time: </label>
          <input type = "text" name = "stime" id = "stime"  placeholder = "Today by 12pm"><br>
          <label>Maximum Price (QR.): </label>
          <input type = "number" name = "price" id = "price"  placeholder = "50"><br>
          <br>
              <button type = "submit" id="submitDetails"  name="submitDetails">Request</button>
          
        </fieldset>
       </form>


      

    </div>
    <!-- /.container -->

    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; 67-475 Team 2 2017</p>
      </div>
      <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="./javascripts/bootstrap.min.js"></script>
      <script src = "./javascripts/fun.js"> </script>
    <script src="./javascripts/bootstrap.bundle.min.js"></script>
  </body>

</html>
